{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}WMO - World Mango Organisation{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<header>
    {% block header %}
        <h4>{{ page_title }}</h4>
    {% endblock %}
</header>
<body>
    <div class="banner"></div>

    <img src="{% static 'images/mango.png' %}" alt="Mango Image" class="mango-image">

    <h1>
        <a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">
            World Mango Organisation
        </a>
    </h1>

    <h2>
        <a href="{% url 'project_list' %}" style="text-decoration: none; color: inherit;">
            Mango Pests & Diseases
        </a>
    </h2>

    <h3>
        <a href="{% url 'about' %}" style="text-decoration: none; color: inherit;">
            About Us
        </a>
    </h3>

    {% block content %}{% endblock %}

</body>
</html>
