
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}WMO - World Mango Organisation{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>

    <header class="top-bar">
        <!-- Mango Logo -->
         <div class="logo-name-container">
            <img src="{% static 'images/mango.png' %}" alt="Mango Logo" class="mango-image" />
            <div class="company-name">GROUP 28</div>
         </div>
        
        <!-- Navigation Links -->
        <nav>
            <ul class="nav-links">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{% url 'project_list' %}" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
            </ul>
        </nav>
    </header>

    <main class="page-container">
        <!-- Page Subheading -->
        <div class="page-title">
            {% block header %}
                <h1>{{ page_title }}</h1>
            {% endblock %}
        </div>

        {% block content %}
        <!-- The content that is displayed goes here-->
        {% endblock %}
    </main>

</body>
</html>
