{% extends 'base.html' %}
{% load static %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/crud.ss' 5}">
{% endblock %}

{% block content %}

<div class="crud-container">
    <h1>test</h1>
    <p>In a hole in the ground there lived a hobbit.<br>
        Not a nasty<br>
        dirty<br>
        wet hole<br>
        filled with the ends of worms and an oozy smell<br>
        nor yet a dry<br>
        bare<br>
        sandy hole with nothing in it to sit down on or to eat:<br>
        it was a hobbit-hole<br>
        and that means comfort.<br>
    </p>
</div>

{% endblock %}