{% extends 'base.html' %}
{% load static %}

{% block title %}Projects - WMO{% endblock %}

{% block content %}

<div class="project-list">
    {% for project in projects %}
    <div class="project-card">
        <div class="project-title">
            <a href="{% url 'project_details' project.slug %}">{{ project.name }}</a>
        </div>
        <div class="project-body">
            <img src="{% static 'images/' %}{{ project.image }}" alt="{{ project.name }}" class="project-image">
            <p class="project-description">{{ project.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
