{% extends 'base.html' %}

{% load static %}

{% block title %}Mango Pests & Diseases - WMO{% endblock %}

{% block content %}
<div class="search-comparison-container">
    <form method="get" action="" class="search-form">
        <input type="text" name="q" placeholder="Search pests or diseases..." value="{{ query }}">
        <select name="category">
            <option value="">All</option>
            <option value="pest" {% if threat_type == 'pest' %}selected{% endif %}>Pests</option>
            <option value="disease" {% if threat_type == 'disease' %}selected{% endif %}>Diseases</option>
        </select>
        <button type="submit" class="search-btn">Search</button>
        {% if query %}
        <button type="submit" name="q" value="" class="clear-search-btn">Clear Search</button>
        {% endif %}
    </form>
    <form action="{% url 'compare_threats' %}" method="get">
        <button type="submit" class="compare-threat-btn">Compare Threats</button>
    </form>
    <form method="get" class="sort-form">
        <input type="hidden" name="q" value="{{ query }}">
        <input type="hidden" name="category" value="{{ threat_type }}">
    
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort" onchange="this.form.submit()">
            <option value="name_asc" {% if sort_option == 'name_asc' %}selected{% endif %}>Name (A–Z)</option>
            <option value="name_desc" {% if sort_option == 'name_desc' %}selected{% endif %}>Name (Z–A)</option>
        </select>
    </form>
    
    
</div>
<div class="threat-list-container">
    {% for threat in page_obj %}
        <a href="{% url 'threat_details' threat.slug %}" class="threat-list-item">
        <div class="image-container">
            <img src="{% static 'images/'|add:threat.image %}" alt="{{ threat.name }}" class="threat-list-image">
        </div>
        <div class="threat-content">
            <div class="dpname">
                 <p>{{threat.name}}</p>
            </div>
            <div class="dpdesc">{{ threat.description|truncatewords:10 }}</div>
        </div>
    </a>
    {% empty %}
        <p>No threats found.</p>
    {% endfor %}
</div>
<div class="pagination-container">
    <p>
        Showing {{ start_index }}–{{ end_index }} of {{ total_results }} results:
        {{ pest_count }} pest{{ pest_count|pluralize }}, 
        {{ disease_count }} disease{{ disease_count|pluralize }}.
    </p>
    
    
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&q={{ query }}">« first</a>
            <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}">previous</a>
        {% endif %}
        
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&q={{ query }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}">last »</a>
        {% endif %}
    </span>
</div>
{% endblock %}
