.homepage-header {
    text-align: center;
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif; 
    color: white;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content-box {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    padding: 30px;
    width: 800px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    color: white;
}