/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&display=swap" rel="stylesheet');

/* Banner */
.banner {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff07e;
    width: 100%;
    padding: 7vh 0; 
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Body */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start; 
    flex-direction: column;
    background-color: #cc7503;
}

/* Banner Elements */
/* Mango Image */
.mango-image {
    position: fixed;
    top: -8vh;
    left: 0vw;
    width: 10vw; 
}

/* Banner Text */
h1 {
    position: fixed;
    top: 1vh; 
    left: 9vw; 
    color: #0fa801;
    font-style: bold;
    font-family: 'Archivo Black', sans-serif; 
    letter-spacing: 1px;
    font-size: 2vw;
}

h2 {
    position: fixed;
    top: 4vh; 
    left: 52vw;
    color: #0fa801;
    font-family: 'Archivo Black', sans-serif; 
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2vw; 
}

h3 {
    position: fixed;
    top: 3.3vh; 
    left: 85vw; 
    color: #0fa801;
    font-family: 'Archivo Black', sans-serif; 
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2vw;
}

h4 {
    position: absolute;
    left: 50%; 
    top: 20vh; 
    transform: translateX(-50%);  
    color: #1aff00;
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    font-size: 3vw;
}


/* About Us Page */
.aboutus-container {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    flex-wrap: wrap; 
    gap: 10vw; 
    margin-top: 45vh; 
    margin-left: 5vw;
}

.aboutus-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;  
}

/* About Us Images */
.aboutus-image {
    max-width: 15vw; 
    width: 100%;
    height: auto;
}

/* About Us Names */
.aboutus-name {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1vw; 
    color: #000000;
    margin-top: 1vh;
}

/* About Us SIDs */
.aboutus-subname {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5vw; 
    color: #000000; 
    margin-top: 0.5vh; 
}

.aboutus-images, .aboutus-names {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* D&P Page */
.projectlist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project_list-image {
    max-width: 20vw;
    width: 100%;
    height: auto;
}

.dpname {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2vw; 
    color: #000000;
    margin-top: 1vh;
}

.dpdesc {
    font-family: 'Arial', sans-serif;
    font-size: 1.5vw; 
    color: #333333;
    margin-top: 0.5vh; 
    max-width: 20vw; 
    text-align: center;
}

.project_list-container, .projectlist-item {
    margin-left: 20vw; 
    margin-top: 23vh; 
    margin-bottom: 2vh;
}