{% extends "base.html" %}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/crud_forms.css' %}">
{% endblock %}


{% block content %}
  <div class="crud-form-wrapper">
    <h2 class="crud-form-title">{% if object %}Edit{% else %}Create{% endif %} Threat</h2>
    <form method="post" novalidate class="crud-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-submit">Save Threat</button>
    </form>
    
    <a href="{% url 'crud_dashboard' %}" class="btn btn-back" style="margin-left: 1rem;">
      ← Back to Dashboard
    </a>
  </div>
{% endblock %}
