{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WMO - World Mango Organisation{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="page-container">

    <div class="banner">
        <div class="logo-container">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Mango Image" class="mango-image">
            </a>
            <h1>
                <a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">
                    World Mango Organisation
                </a>
            </h1>
        </div>
            <nav class="nav-bar">
                <a href="{% url 'home' %}" >
                    Home
                </a>
                <a href="{% url 'threat_list' %}" >
                    Pests and Diseases
                </a>
                <a href="{% url 'about' %}" >
                    About Us
                </a>
                <a href="{% url 'crud' %}" >
                    Crud Functionality
                </a>

        </nav>
    </div>
    <header class="header">
        {% block header %}
            <h4>{{ page_title }}</h4>
        {% endblock %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="site-footer">
        <div class="footer-content">
            <p>© 2025 World Mango Organisation. All rights reserved.</p>
            <p>Contact: <a href="mailto:info@wmo.org">info@wmo.org</a> | Phone: +61 123 456 789</p>
            <div class="footer-links">
                <a href="{% url 'home' %}">Home</a> |
                <a href="{% url 'threat_list' %}">Threats</a> |
                <a href="{% url 'about' %}">About Us</a>
                <a href="{% url 'crud' %}">Crud</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>